<%= form_for @gallery, remote: true do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %> <strong style="color:red"></strong>
  </p>
  
  <%= f.submit "Create gallery", class: "btn btn-success"%> <a href="#" id="cancel_link">Cancel</a>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(function(){
      $("#cancel_link").click(function(){
        $("#new_gallery").remove()
        $("#new_link").show()
        });

      $("#new_gallery input[type=text]").focus()
  });
</script>
