@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  background-color: #4B7399;
}
#wrap {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

h1 a {
  font-size: .6em;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#galleries {
  margin-top: 30px;
  .gallery {
    float: left;
    width: 360px;
    margin-bottom: 25px;
    a:first-child {
      font-size: 1.5em;
    }
  }
}

.thumb {
  position: relative;
  padding: 0 20px;
  strong {
    margin: 10px 0;
    display: block;
  }
  .remove_btn {
    position: absolute;
    left: 35px; top: 30px;
    padding: 4px 8px;
  }
  .edit_btn {
    position: absolute;
    padding: 4px 8px;
    right: 35px; top: 30px;
  }
  .remove_edit {
    display: none;
  }
}

.edit_painting {
  #painting_name {
    border: 0;
    box-shadow: none;
    display: block;
    color: #4B7399;
    font: {
      size: 1.5em;
      weight: bold;
    }
  }
  #painting_image {
    box-shadow: 1px 1px 5px #888;
    margin: 5px 0 10px;
    max-width: 588px;
    max-height: 804px;
  }
}
